* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74ebd5, #9face6);
}

.weather-app {
    background: rgba(255, 255, 255, 0.9);
    padding: 25px;
    width: 320px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.weather-app h1 {
    margin-bottom: 15px;
    font-size: 26px;
}

.search-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.search-box button {
    padding: 10px 14px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.search-box button:hover {
    background: #00c6fb;
}

.weather-info {
    margin-top: 15px;
}

.weather-info h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.weather-info img {
    width: 90px;
    margin: 10px auto;
}

.weather-info p {
    margin: 6px 0;
    font-size: 16px;
}
